#ex01 .box:hover {
  background: #064369;
}

#ex02 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex02 .box:hover {
  background: #064369;
}

#ex03 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

#ex03 .box:hover {
  background: #064369;
}

#ex04 .box {
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#ex04 .box:hover {
  background: #064369;
  color: white;
}

#ex05 .box {
  transition-property: background-color color;
  transition-duration: 0.5s;
}

#ex05 .box {
  transition-property: color;
  transition-delay: 0.5s;
}

#ex05 .box:hover {
  background: #064369;
  color: white;
}

#ex06 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex06 .wrapper:hover .box {
  background: #064369;
}

#ex07 .box:nth-child(1) {
  transition-property: background-color;
  transition-duration: 0.2s;
}

#ex07 .box:nth-child(2) {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex07 .box:nth-child(3) {
  transition-property: background-color;
  transition-duration: 0.8s;
}

#ex07 .wrapper:hover .box {
  background: #064369;
}

#ex08 .wrapper {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex08 .wrapper:hover {
  background: #064369;
}

#ex08 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
}

#ex08 .wrapper:hover .box {
  background: #dde1b4;
}

#ex09 .wrapper {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

#ex09 .wrapper:hover {
  background: #064369;
}

#ex09 .box {
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
}

#ex09 .wrapper:hover .box {
  background: #dde1b4;
}

#ex10 .box {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex10 .box:hover {
  transform: translateY(20px);
}

#ex11 .box {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex11 .box:hover {
  transform: rotate(90deg);
}

#ex12 .box {
  transition-property: transform;
  transition-duration: 0.5s;
}

#ex12 .box:hover {
  transform: scale(1.2);
}